@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 20px;
}


article {
    align-self: center;
    justify-self: center;
    text-align: center;
    border: 1px solid black;
    background-color: rgb(236, 235, 235);
    padding: 10px;
    height: 370px;
    width: 550px;
    box-shadow: black 3px 3px 5px 0px;
    border-radius: 10px;
}

article:hover{
    box-shadow: black 3px 3px 5px 0px inset;
}

article img {
    margin: auto;
}

#article1{
    grid-column: 1;
    grid-row: 3;
}

.image1{
    height: 250px;
}
.image2{
    height: 250px;
}
.image3{
    height: 250px;
}


#article2{
    grid-column: 2;
    grid-row: 3;
}

#article3{
    grid-column: 3;
    grid-row: 3;
}

h1{
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    border: 2px solid black;
    background-color: rgb(240, 240, 248);
    border-radius: 10px;
    
}

