@keyframes grossirleft {
    from{
        translate: 0px;
        scale: 1;
    }to{
        translate: 20em;
        scale: 1.5;
    }
}

@keyframes grossirright {
    from{
        translate: 0px;
        scale: 1;
    }to{
        translate: -20em;
        scale: 1.5;
    }
}

h1{
    text-align: center;
    margin-bottom: 5em;
}

article{
    width: 50em;
    padding: 2em;
    margin-bottom: 11em;
    margin-left: 5em;
    margin-right: 5em;
    border: solid black;
    border-radius: 20px 20px;
    animation: grow 1s;
    animation-fill-mode: forwards;
    background: lightgrey;
}

article img{
    max-width: 35em;
    max-height: 5em;
    height: auto;
    margin: 10px;
}

#section_css{
    flex-direction: column;
    display: flex;
}

h3{
    align-self: center;
}

p, ul, li{
    align-self: flex-start;
}

#section_css article:nth-child(odd){
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#section_css article:hover{
    animation: grossirleft 2s;
    animation-fill-mode: forwards;

}

#section_css article:nth-child(odd):hover{
    animation: grossirright 2s;
    animation-fill-mode: forwards;
}